/*
=====================================================================
*   A Witch's Journey theme v1.0.0
*   19-01-2019
=====================================================================*/


/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

html,
body {
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    image-rendering: optimizeSpeed;              /* Older versions of FF */
    image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;                /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
    image-rendering: pixelated;                  /* Chrome 41 */
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#phaser-app {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

canvas {
  align-self: center;
  margin: auto;
}
